@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;

main {
    width: 100%;
    margin-inline: auto;
    text-align: center;
    background-color: var(--d-blue);

    .img,
    .article-container {
        width: min(100%, f.rem(720));
    }

    .img {
        margin-bottom: f.rem(32);
    }

    article {
        padding-block: f.rem(50) f.rem(32);
        background-color: var(--d-blue-main-bg);
        color: var(--white);
        width: 100%;

        .article-container {
            margin-inline: auto;
        }

        h1 {
            font-size: f.rem(26);
        }

        p {
            padding-inline: f.rem(16);
        }

        a {
            color: var(--white);
            background-color: var(--cyan);
            width: 70%;
            margin-inline: auto;
            padding: f.rem(16);
            border-radius: 50px;
        }
    }

    @include bp.breakpointMin(large-screen) {
        background-image: url(../images/bg-curvy-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;


        article {
            h1 {
                font-size: f.rem(38);
            }
            @include bp.breakpointMin(xlarge-screen) {
                p {
                    font-size: f.rem(18);
                    padding-inline: f.rem(88);
                }
            }
        }
    }
}