@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;

section.testimonials {
    width: 100%;
    margin-inline: auto;

    .testimonial-container {
        width: 100%;
        padding: 5%;
        margin-inline: auto;

        .flex {
            margin-inline: auto;
        }
    }

    article {
        width: min(100%, f.rem(550));

        h3 {
            color: var(--white);
        }
        p {
            color: var(--l-gray);
        }
        a {
            width: 160px;
            color: var(--cyan);

            &::after {
                content: '';
                margin-inline: auto;
                width: 100%;
                height: 1px;
                background-color: var(--cyan);
            }

            &:hover {
                color: var(--white);

                &::after {
                    background-color: var(--cyan);
                }

                svg {
                    circle {
                        fill: var(--white);
                        
                    }
                }
            }
        }
    }

    .testimonials {
        padding-block: f.rem(100) f.rem(350);

        .testimonial-card {
            width: min(90%, f.rem(400));
            background-color: var(--d-blue-testimonial);
            border-radius: f.rem(5);
            padding: f.rem(28);

            & > p {
                color: var(--l-gray);
            }

            .user {
                img {
                    width: 40px;
                    border-radius: 50%;
                }

                .user-info {
                    h4 {
                        color: var(--white);
                    }
                    p {
                        color: var(--l-gray);
                        font-size: f.rem(12);
                    }
                }
            }
        }
    }

    @include bp.breakpointMin(large-screen) {
        article {
            h3 {
                font-size: f.rem(48);
            }
        }
    }
}