@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */


/* HEADER */
.header-display {
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        ul {
            li {
                display: inline-block;

                &:not(:last-child) {
                    margin-right: f.rem(22);
                }
            }
        }
    }
}

/* MAIN */
.main-display {
    /* REMOVE LATER */
    /* display: none; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: f.rem(44);

    article {

        .article-container {
            display: grid;
            gap: f.rem(28);
        }
    }
}

/* SECTION FEATURES DISPLAY */
.section-features-display {

    .feature-container {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        gap: f.rem(64);

        @include bp.breakpointMin(large-screen) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

/* SECTION TESTIMONIALS */
.section-testimonials-display {
    .testimonial-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: f.rem(48);
        grid-template-areas: 
            'flex'
            'flex'
            'testimonials';
        
        .flex {
            display: flex;
            flex-direction: column;
        }
    }

    
    article {
        display: flex;
        flex-direction: column;
        gap: f.rem(16);

        a {
            display: flex;
            align-items: center;
            gap: f.rem(10);
        }
    }

    .testimonials {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        gap: f.rem(32);

        .testimonial-card {
            display: flex;
            flex-direction: column;
            gap: f.rem(32);

            .user {
                display: flex;
                align-items: center;
                gap: f.rem(16);
            }
        }
    }

    @include bp.breakpointMin(large-screen) {
        .testimonial-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
                'flex flex'
                'testimonials testimonials';

            .flex {
                align-items: center;
                flex-direction: row;
                gap: f.rem(64);
            }
        }

        .testimonials {
            grid-template-columns: repeat(3, 1fr);
        }
    }


    /* GRID AREAS */
    .flex {
        grid-area: flex;
    }
    .testimonials {
        grid-area: testimonials;
    }
}

/* SECTION EARLY ACCCESS */
.early-access-display {
    form {
        display: grid;
        gap: f.rem(30);
        grid-template-columns: 1fr;
    }

    @include bp.breakpointMin(large-screen) {
        form {
            grid-template-columns: 65% 33%;
            gap: f.rem(16);
        }
    }
}

.footer-display {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr;

        .fylo-contacts {
            display: flex;
            gap: f.rem(16);
            flex-direction: column;

            .location {
                display: flex;
                gap: f.rem(16);
            }

            .contact {
                display: flex;
                flex-direction: column;
                gap: f.rem(16);
                
                div {
                    display: flex;
                    align-items: center;
                    gap: f.rem(16);
                }
            }
        }
    }

    .footer-nav {

        nav {
            display: flex;
            flex-direction: column;
            gap: f.rem(32);

            ul {
                display: flex;
                flex-direction: column;
                gap: f.rem(16);
            }
        }
    }

    
    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: f.rem(16);

        a {
            display: grid;
            place-items: center;
        }
    }

    @include bp.breakpointMin(xlarge-screen) {
        .footer-container {
            grid-template-columns: 50% 35% 15%;

            .fylo-contacts {
                flex-direction: row;
                align-items: unset;
                gap: f.rem(32);

                .contact {
                    align-items: unset;
                }
            }
        }

        .footer-nav {
            
            nav {
                flex-direction: row;
                gap: f.rem(100);
            }
        }

        .socials {
            align-items: unset;
        }
    }
}

/* REMOVE LATER */
/* .main-display,
.section-features-display,
.section-testimonials-display,
.early-access-display
 {
    display: none;
} */