@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITIONS */


/* MAIN */
.main-position {
    position: relative;

    .img {
        z-index: 1;
    }

    article {
        position: relative;
        z-index: 1;
    }
}

/* SECTION TESTIMONIALS */
.section-testimonials-position {
    position: relative;
    z-index: -10;

    article {
        a {
            position: relative;

            &::after {
                position: absolute;
                bottom: -7px;
                right: 0;
                left: 0;
            }
        }
    }

    .testimonials {

        .testimonial-card:first-child {
            position: relative;

            & > img {
                width: 50px;
                position: absolute;
                top: -40px;
                left: 10px;
            }
        }

        @include bp.breakpointMin(large-screen) {
            .testimonial-card:first-child {

                & > img {
                    top: -30px;
                    left: -10px;
                    z-index: -1;
                }
            }
        }
    }
}

/* FOOTER */
.footer-position {
    position: relative;

    /* SECTION EARLY ACCESS */
    .early-access-position {
        position: absolute;
        top: -150px;
        left: 50%;
        transform: translateX(-50%);

        form {
            .email-box {
                position: relative;

                .error {
                    position: absolute;
                    left: 23px;
                    bottom: -21px;
                }
            }
        }
    }

    .footer-container {
        .location {
            position: relative;

            img {
                position: absolute;
                top: f.rem(5);
            }
        }
    }


    .attribution {
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
    }
}
